#map-canvas
{
	height: 400px;
	width: 520px;
	border: 2px;
	border-color: black;
	border-style: dotted;
	margin-left: 200px;
	margin-top: 20px;

	
	
}
#bi
{	
	
	background-image: url(one.jpg);
	
}
p{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
	font-family: sans-serif;
	text-decoration: line-through;
}